<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegistroCompleto</title>
    <link rel="stylesheet" href="~/estilos/account/RegistroCompleto.css">
</head>
<body>
    <div class="container">
        <h1 style="font-family:'Times New Roman'">Completado</h1>
        <p><strong>¡Bienvenido!</strong></p>
        <p>Tu cuenta se creó correctamente. <br /> Ahora puede iniciar sesión.</p>
        <a href="~/Account/Login" class="button">Continuar</a>
    </div>
</body>
</html>