<body>
	
	<header>
		<h1>Cheese&More2</h1>
		<p>Hola bienvenido nombreusuario</p>
		<link rel="stylesheet" href="~/estilosadmin/estilosadminprincipal.css">
	</header>

	<nav>
		<a href="~/Admin">Productos</a>
		<a href="~/Admin/AgregarProducto">Agregar Productos</a>
		<a href="~/Admin/Home/Feedbacks">Feedbacks</a>

	</nav>
	
	@RenderBody()

	<footer>
		<p>&copy; 2025 Cheese&More. Todos los derechos reservados.</p>
	</footer>

</body>